.lobby-background {
    position:absolute;
    top: 0;
    left: 0;
    right: 0;
    left: 0;
    width:100%;
    height:100%;
    color:white;
    font-weight: bold;
    animation: rainbow 10s infinite;
}

@keyframes rainbow {
    0% {background-color: hsl(0 100% 50%);}
    25% {background-color: hsl(90 100% 50%);}
    50% {background-color: hsl(180 100% 50%);}
    75% {background-color: hsl(270 100% 50%);}
    100% {background-color: hsl(360 100% 50%);}
}